.PlayerView {
    max-width: 90%;
    margin: auto;
    text-align: center;

}

.PlayerView img {
    display: flex;             /* Utiliza flexbox para alinear elementos */
    justify-content: center; 
    max-width: 100%;
    border-radius: 8px;
    object-fit: cover;
    height: auto;
}